port {{ redis_sentinel_port }}

sentinel announce-hostnames yes
sentinel resolve-hostnames yes
sentinel announce-ip 0.0.0.0

sentinel monitor {{ redis_cluster_name }} 0.0.0.0 {{ redis_server_port }} {{ redis_sentinel_quorum }}
sentinel down-after-milliseconds {{ redis_cluster_name }} 5000
sentinel failover-timeout {{ redis_cluster_name }} 60000
sentinel parallel-syncs {{ redis_cluster_name }} 1

{% if redis_password %}
sentinel auth-pass {{ redis_cluster_name }} {{ redis_password }}
{% endif %}
